# Node modules
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env

# Directory for debugging IDEs
.idea

# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/

# Optional npm cache directory
.npm

# Miscellaneous
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# PM2 Logs
.pm2/logs

# Coverage directory used by testing tools
coverage/
